#contenedor-fotos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#fotos {
    width: 50vw;
    height: 50vh;
    display: block;
}

#foto-original {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media screen and (orientation:landscape) {
    #fotos {
        max-width: 1200px;
        max-height: 800px;
    }
}

@media screen and (orientation:portrait) {
    #fotos {
        max-width: 600px;
        max-height: 900px;
    }
}